<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Shelby Release Analytics</title>
</head>

<body>
    <center>
        <p class="text-6xl">Get GitHub Release Analytics</p>
    </center>
    <div id="app">
        <center>
                <div class="max-w-xs max-h-screen rounded overflow-hidden shadow-lg" v-for="result in results" :result="result">
                    <div class="px-6 py-6">
                        <!-- <div class="font-bold text-xl mb-2">Tag: {{ result.name }}</div> -->
                        <p class="text-gray-700 text-base">
                            Name of Asset: <strong>{{ results.assets.name }}</strong><br>
                            <p class="font-black">Downloads: <u>{{ results.assets.download_count }}</u></p>
                        </p>
                    </div>
                </div>
                <!-- <div class="max-w-xs max-h-screen rounded overflow-hidden shadow-lg" v-for="result in results">
                    <div class="px-6 py-6">
                        <div class="font-bold text-xl mb-2">Tag: {{ result.tag_name }}</div>
                        <p class="text-gray-700 text-base">
                            Name of Asset: <strong>{{ prc.name }}</strong><br>
                            <p class="font-black">Downloads: <u> {{ prc.download }}</u></p>
                        </p>
                    </div>
                </div>
                <div class="max-w-xs max-h-screen rounded overflow-hidden shadow-lg" v-for="result in results">
                    <div class="px-6 py-6">
                        <div class="font-bold text-xl mb-2">Tag: {{ result.tag_name }}</div>
                        <p class="text-gray-700 text-base">
                            Name of Asset: <strong>{{ prc.name }}</strong><br>
                            <p class="font-black">Downloads: <u>{{ prc.download }}</u></p>
                        </p>
                    </div>
                </div> -->
            </div>
        </center>
    </div>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>

</body>


</html>